.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 25px;
}

img {
	width: 80px;
}

.parent {
	.content {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}
}

.product {
	padding: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 220px;
	border: 1px solid black;
	align-items: center;
	direction: flex;
	flex-direction: column;
	text-align: center;
	background-color: white;
	color: black;

	height: 320px;

	h1 {
		font-size: 25px;
	}
	h3 {
		font-size: 18px;
	}
	p {
		font-size: 15px;
		line-height: 1.5;
	}
	button {
		position: absolute;
		bottom: 0;

		background-color: rgb(5, 187, 96);
		border: 1px solid white;
		padding: 10px;
		margin: 10px;
		font-size: 16px;
		border-radius: 5px;
		color: white;
	}
}
