body {
	width: 100vw;

	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: grey;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 80%;
}
